*{
    background-color: tan;
}
a:link{
    color: rgb(199, 36, 101);
    text-decoration: none;
}
a:hover{
    color: rgb(240, 134, 41);
}
a:visited{
    color: rgb(23, 172, 112);
}
a:active{
    color: rgb(30, 20, 220);
}
a{
    font-size: large;
    font-weight: 500;
}
h1{
    color: rgb(53, 0, 139);
    background-color: cadetblue;
}